#otpauth{
    width: 70%;
    height: 70%;
    position: absolute;
    z-index: 11;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11%;
}
.otp-con{
    backdrop-filter: brightness(0.5);
    color: white;
    height: 60%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.otp-inputs{
    display: flex;
    height: 30%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#otp{
    height: 40%;
    font-size: larger;
    font-weight: 500;
    text-align: center;
    padding: 2%;
    border: 1px solid #3c7fd2;
}
.otp-inputs #verifying{
    border: none;
    padding: 4%;
    width: 50%;
    border-radius: 1rem;
    background: #47a8ff;
    color: white;
}

@media (max-width:768px) {
    #otpauth{
        width: 90%;
        font-size: smaller;
    }
    #otpauth h2{
        font-size: medium;
    }
}
